<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>50</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>120</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>180</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>200</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>50</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>200</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>400</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>120</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>200</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>50</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>80</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>180</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>180</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>200</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>50</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>120</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>80</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>180</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>50</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>120</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>80</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>180</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>250</integer>
	</array>
	<array>
		<date>2018-09-13T04:46:39Z</date>
		<integer>300</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:02Z</date>
		<integer>200</integer>
	</array>
	<array>
		<date>2018-09-13T03:31:39Z</date>
		<integer>50</integer>
	</array>
</array>
</plist>
