<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<style>

    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>

<body>
    <div class="layout" style="text-align:center;">
        <h1 >SODOC 게시판</h1>
        <table style="width:500px; margin-left:80px;">
            <thead style="text-align:center;">
            <tr >
                <th>글번호</th>
                <th>글제목</th>
            </tr>
            </thead>
            <tbody>
<!--            each는 반복문이다 그래서 DB에 가지고있는 n개를 모두 호출해준다.-->
            <tr th:each="board : ${list}">
<!--                th는 태그 안에 데이터를 출력-->
                <td th:text="${board.id}">1</td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
        <form th:action="@{/board/list}" method="get">
            <input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>
<!--시작 번호에서 끝번호까지 반복-->
</body>
</html>